
data/dataset.txt
__pycache__/dataprepare.cpython-36.pyc
.vscode/launch.json
*.LEIZHANG-MSFT-3
*.pyc
*.txt
model/1/checkpoint
*.data-00000-of-00001
*.index
*.meta
model/2/checkpoint
*.pkl
model/3/checkpoint
model/4/checkpoint
model/5/checkpoint
Debug.py
model_30K/1/checkpoint
model/6/checkpoint
model_30K/9/checkpoint
tensorboard.py
model_30K/10/checkpoint
model_30K/2/checkpoint
model_30K/3/checkpoint
model_30K/4/checkpoint
model_30K/5/checkpoint
model_30K/6/checkpoint
model_30K/7/checkpoint
model_30K/8/checkpoint
